h1 { 
    color: red;
    padding: 10px;
}
body{
    background-color: #E1F5FE;
    margin: auto;
    
}
.fa {
    
    display: inline;
   font-size: 30px;
    width: 5px;
    text-align: center;
    text-decoration: none;
    color:red;
    margin: 0px;
    background-color: black;
}

.logo{
    float:right;
    margin: auto;
}

.log{
    float: left;
    text-align: left;

}

.head{
      
      color: black;
      background-color: black;
  }
.signup{
    
    text-align: center;
    margin-block: 200px;
    border:  solid; size: 10px;
    padding-left: 50px;
}
.login{
    background-color: #E1F5FE ;
}


h1{
    text-decoration: underline;
    text-align: left;  
}
h3{
    text-align: center;
    

}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    
}


footer {
    text-align: center;
    margin: 0px;
    background-color: black;
    height: 20px;
    color: white;
}
header {
    text-align: left;
    margin: 0px;
    background-color: black;
    padding: auto;

    
}
html  header  a{
    padding-left: 10px;
    font-weight: bold;
    color: white;
   
    
}

.contact{
  background-color: #E1F5FE;
}
.end{
    color: red;
    background-color: #E1F5FE ;
    text-align: center;
    border: solid ;
    border-width: 2mm;
    padding: 100px;
    border-color: gray;
    margin-bottom: 80px; 
}


html body nav a{
    padding-right: 20px;
    font-weight: bold;
    color: #EF9A9A;
    background-color: black;
    float: right;
}

/* unvisited link */
a:unvisited{
    color: #EF9A9A;
}

/* visited link */
a:visited {
    color: #EF9A9A;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: blue;
}
.navblock{
    float: left;
    text-align: left;

}
